apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
data:
  application.yaml: |
    spring:
      application:
        name: {{ .Chart.Name }}
      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: http://${keycloak-custom.host}:${keycloak-custom.port}/realms/master
          client:
            provider:
              keycloak:
                authorization-uri: http://${keycloak-custom.host}:${keycloak-custom.port}/realms/master/protocol/openid-connect/auth
                token-uri: http://${keycloak-custom.host}:${keycloak-custom.port}/realms/master/protocol/openid-connect/token
                user-info-uri: http://${keycloak-custom.host}:${keycloak-custom.port}/realms/master/protocol/openid-connect/userinfo
                user-name-attribute: sub
                jwk-set-uri: http://${keycloak-custom.host}:${keycloak-custom.port}/realms/master/protocol/openid-connect/certs
            registration:
              transfer-service:
                authorizationGrantType: client_credentials
                provider: keycloak
                client-id: transfer-service
                redirect-uri: '{baseUrl}/{action}/oauth2/code/{registrationId}'
                scope: profile
                clientAuthenticationMethod: client_secret_post
    keycloak-custom:
      host: {{ .Values.identityProvider.host }}
      port: {{ .Values.identityProvider.port }}
    rest:
      client:
        accounts:
          url: http://account-service-svc:8080
        blocker:
          url: http://blocker-service-svc:8080
        notification:
          url: http://notification-service-svc:8080
        exchange:
          url: http://exchange-service-svc:8080
    {{- with .Values.actuatorParams }}
    management:
      {{- toYaml . | nindent 6 }}
    {{- end }}